@media (max-width: 700px){
    nav{
        max-width:100vw;
    }
    
    .first{
        flex-wrap: wrap;
    }
    .sec img{
        width:250px;
    }
    .gif img{
         width:215px;
         
         
    }

    .hero> :nth-child(2){
        
        font-size:10px;
        
}
/*--------------------------UPER PART -----------------------------------------*/
.main  .box{
    
    width:100%;
    height:600px;
}
.main{
    height:600px;
}

.main nav span img{
     width:90px;
}
.hero-buttons{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:16px;
    flex-direction: column;
}

.herobutton input,
.hero-buttons input{
    padding: 17px 100px 18px 14px;
    font-size: 15px;
    margin-left:-10px;
    
   
}

.language-dropdown select{
    padding: 5px 10px;
}

/*------MIDDLE PART-------------------------*/
.text-one h6{
 padding-left:70px;
}

.image-slider img {
    height:200px;
    width:100px
}
.doc{
    width:auto;
}

.flex-container{
    width:890px;
    height:300px;
}
/*-----------------------Forth part-------------------------*/
.faq{
    margin-left:-100px;
    margin-top:1100px;
}
.question{
   
    font-size: 14px;
    padding:20px;
    
}
.answer{
    width:58.1%;
    font-size:14px;
    height:350px;
    padding-top:10px;
    padding-left:20px;
    
}
/*----------------FOOter part-------------------*/

.container-box{
    display:grid;
     grid-template-columns:23% 23% 23% 23%;
    margin-left:10px;
    }
    .container-box span{
        padding-left:480px;
        padding-right:0px;
        margin-top:190px;
    }
.container-box h4{
   padding-left:240px;
    margin-top:150px;
}
.read p{
    text-align: left;
    margin-left:30px;
    padding-right:20px;
    font-size:13px;

}
.flex-container{
    display: flex;
    flex-direction: column;
    
}
.flex-item{
    width:30%;
    margin-left:50px;
}
.big-two{
    margin-left:0px;
}
.extra{
    margin-left:10px;
}
   

.question-footer p{
    margin-left:-100px;
}


.text-one h2{
   padding-left:60px;
}

.slider-container{
    width:110%;
    padding-left:90px;

}
.slider-btn.left {
  left: 50px;
  
 
}
.language-dropdown {
    margin-right:-130px;
}
.main span img{
    margin-left:10px;
}
.red-small{
    margin-right:15px;
}

.hero h1{
    font-size:30px;
}
.sepration{
    margin-top:-5px;
}

}


